In [1]:
from openpyxl import load_workbook
import xlwings as xw
import os 
import pandas as pd
import numpy as np
import re
import itertools
from datetime import date,timedelta
from xlwings.constants import DeleteShiftDirection

In [2]:
# 今日日期
today = date.today()
d = timedelta(days = 3)
today = today-d
todaynum = str(today)[0:4] + str(today)[5:7] + str(today)[8:10]
print(todaynum)
todaymd = todaynum[4:]

20210115

In [3]:
path = 'C:/Users/0305/Desktop/Daily PNL/2021-01/'+ todaymd 
os.chdir(path)

In [9]:
# vfx
# equity change
equity_change = pd.read_csv('equity_change_vfx.csv')
equity_change.head(12)

,Login,row,nday,BALANCE_PREV,PROFIT_CLOSED,DEPOSIT,BALANCE,PROFIT,CREDIT,EQUITY,MARGIN,MARGIN_FREE
0,691234,9218,1,1525810.13,0.00,2833.60,1528643.73,0.00,0,1528643.73,0.000000e+00,1.528644e+06
1,691048,9232,1,1273154.66,0.00,2364.45,1275519.11,0.00,0,1275519.11,0.000000e+00,1.275519e+06
2,90096,9255,1,56709631.74,106027.17,398381.94,57214040.85,-20388426.05,0,36825614.80,3.148256e+06,3.367736e+07
3,691234,9178,2,1519296.47,0.00,6513.66,1525810.13,0.00,0,1525810.13,0.000000e+00,1.525810e+06
4,691048,9192,2,1267719.68,0.00,5434.98,1273154.66,0.00,0,1273154.66,0.000000e+00,1.273155e+06
5,90096,9215,2,55369994.03,239637.73,1099999.98,56709631.74,-21849058.13,0,34860573.61,3.220122e+06,3.164045e+07

In [ ]:
# 更改第一天權益
wb = xw.books('B -PNL-vfx-'+str(todaynum)+'.xlsx')
sht = wb.sheets['equity']
df = equity_change[equity_change['nday']==1]
for i in range(len(df.index)):
    rownum = df.iloc[i, 1]
    value = df.iloc[i, 3:]
    # print(rownum)
    # print(type(value))
    # print(value.values)
    sht.range('D'+str(rownum)+":L"+str(rownum)).value = value.values
    sht.range('D'+str(rownum)+":L"+str(rownum)).color = (255,255,0)
# 更改第二天權益
sht = wb.sheets['equity_Y']
df = equity_change[equity_change['nday']==2]
for i in range(len(df.index)):
    rownum = df.iloc[i, 1]
    value = df.iloc[i, 3:]
    # print(rownum)
    # print(type(value))
    # print(value.values)
    sht.range('D'+str(rownum)+":L"+str(rownum)).value = value.values
    sht.range('D'+str(rownum)+":L"+str(rownum)).color = (255,255,0)

In [18]:
# vfx2
# equity change
equity_change = pd.read_csv('equity_change_vfx2.csv')
equity_change.head(12)

,Login,row,nday,BALANCE_PREV,PROFIT_CLOSED,DEPOSIT,BALANCE,PROFIT,CREDIT,EQUITY,MARGIN,MARGIN_FREE
0,5309145,38951,1,357.75,50.2,0,537.32,72.18,0,609.50,33.889402,575.610598
1,5309145,38737,2,117.85,59.9,180,357.75,10.51,0,368.26,29.736657,338.523343

In [19]:
# 更改第一天權益
wb = xw.books('B -PNL-vfx2-'+str(todaynum)+'.xlsx')
sht = wb.sheets['equity']
df = equity_change[equity_change['nday']==1]
for i in range(len(df.index)):
    rownum = df.iloc[i, 1]
    value = df.iloc[i, 3:]
    # print(rownum)
    # print(type(value))
    # print(value.values)
    sht.range('D'+str(rownum)+":L"+str(rownum)).value = value.values
    sht.range('D'+str(rownum)+":L"+str(rownum)).color = (255,255,0)
# 更改第二天權益
sht = wb.sheets['equity_Y']
df = equity_change[equity_change['nday']==2]
for i in range(len(df.index)):
    rownum = df.iloc[i, 1]
    value = df.iloc[i, 3:]
    # print(rownum)
    # print(type(value))
    # print(value.values)
    sht.range('D'+str(rownum)+":L"+str(rownum)).value = value.values
    sht.range('D'+str(rownum)+":L"+str(rownum)).color = (255,255,0)

In [264]:
# 讀取sales_commission & rebate 合併計算
commission = pd.read_excel('VFX_sales_commission'+str(today)+'.xlsx' , sheet_name='usd')
rebate  = pd.read_excel('VFX_rebate_report'+str(today)+'.xlsx' , sheet_name='usd')
df = pd.concat([commission, rebate])
df = df.groupby(['mt4Account']).agg({'inner_commission': "sum", 'outer_commission': "sum"})
df.head()

            inner_commission  outer_commission
mt4Account
16679               1.546971                 0
17912               1.031313                 0
17962               2.406398                 0
17967               0.343771                 0
18233               6.703539                 0

In [265]:
# copy pd.df to excel
wb = xw.books('B -PNL-vfx-20210111.xlsx')
sht = wb.sheets['rebate']
rownumber_added = sht.range('A' + str(wb.sheets[0].cells.last_cell.row)).end('up').row + 1
sht.range("A"+str(rownumber_added)).options(index=True,header=False).value=df

In [266]:
# vfx
files = [f for f in os.listdir('.') if os.path.isfile(f)]
r = re.compile("^AU1 ")
newlist1 = list(filter(r.match, files)) # Read Note
r = re.compile("^AU2 ")
newlist2 = list(filter(r.match, files)) # Read Note
r = re.compile("^UK1 ")
newlist3 = list(filter(r.match, files)) # Read Note
r = re.compile("^UK2 ")
newlist4 = list(filter(r.match, files)) # Read Note
rebate_files = newlist1+newlist2+newlist3+newlist4
print(rebate_files)

['AU2 90034- Rebate_20210111.xlsx', 'AU2 90050- Rebate_20210111.xlsx', 'AU2 90076- Rebate_20210111.xlsx', 'AU2 90085- Rebate_20210111.xlsx', 'AU2 90094- Rebate_20210111.xlsx']

In [267]:
#i='AU2 90034- Rebate_20210111.xlsx'
#wb = xw.Book(i)
#sht = wb.sheets['0111']
#刪除 rebate 含有NA的交易紀錄
#arrt = sht.range('AD:AD')[3:].value
#type(arrt)
#arrt =[x for x in arrt if x is not None]
#print('P'+str(len(arrt)+4)+':AG500')
#sht.range('P'+str(len(arrt)+4)+':AG500').clear()

P5:AG500

In [268]:
# 讀取需要手動更改之rebate
data = []
for i in rebate_files:
    print(i)
    login = int(i.split()[1].replace("-",""))
    wb = xw.Book(i)
    sht = wb.sheets['0111']
    # 刪除 rebate 含有NA的交易紀錄
    arrt = sht.range('AD:AD')[3:].value
    type(arrt)
    arrt =[x for x in arrt if x is not None]
    print('P'+str(len(arrt)+4)+':AG500')
    sht.range('P'+str(len(arrt)+4)+':AG500').clear()
    rebate_arr = [login, sht.range('M10').value, sht.range('N10').value]
    print(rebate_arr)
    data.append(rebate_arr)
    wb.close()
print(data)

AU2 90034- Rebate_20210111.xlsx
P5:AG500
[90034, 3.41903300076746, 5.4]
AU2 90050- Rebate_20210111.xlsx
P11:AG500
[90050, 0.0, 0.0]
AU2 90076- Rebate_20210111.xlsx
P5:AG500
[90076, 4.43207981580967, 7.0]
AU2 90085- Rebate_20210111.xlsx
P5:AG500
[90085, 20.260936300844207, 32.0]
AU2 90094- Rebate_20210111.xlsx
P5:AG500
[90094, 0.0, 0.0]
[[90034, 3.41903300076746, 5.4], [90050, 0.0, 0.0], [90076, 4.43207981580967, 7.0], [90085, 20.260936300844207, 32.0], [90094, 0.0, 0.0]]

In [269]:
df = pd.DataFrame(data, columns=['mt4Account', 'inner_new', 'outer_new'])
df.head()

   mt4Account  inner_new  outer_new
0       90034   3.419033        5.4
1       90050   0.000000        0.0
2       90076   4.432080        7.0
3       90085  20.260936       32.0
4       90094   0.000000        0.0

In [270]:
wb = xw.books('B -PNL-vfx-'+todaynum+'.xlsx')
sht = wb.sheets['rebate']
a = sht.range('A:A').value

In [271]:
for i in range(len(df.index)):
    if df['mt4Account'][i] in a:
        index = a.index(df['mt4Account'][i])
        # df 取代舊值
        print(sht.range('A'+str(index+1)).value)
        sht.range('B'+str(index+1)).value = df['inner_new'][i] + df['outer_new'][i]
        # sht.range('C'+str(index+1)).value = df['outer_new'][i]
        sht.range('A'+str(index+1)+":"+'C'+str(index+1)).color = (255,255,0)
    else:
        print(str(df['mt4Account'][i]) + ' is not in list')

90034.0
90050.0
90076.0
90085.0
90094 is not in list

In [57]:
# vfx rebate 
r = re.compile("^AU3 ")
newlist1 = list(filter(r.match, files)) # Read Note
r = re.compile("^UK3 ")
newlist2 = list(filter(r.match, files)) # Read Note
rebate_files = newlist1+newlist2
print(rebate_files)

data = []
for i in rebate_files:
    print(i)
    login = int(i.split()[1].replace("-",""))
    # wb = load_workbook('B -PNL-vfx2-20210107.xlsx').
    wb = xw.Book(i)
    sht = wb.sheets['0108']
    rebate_arr = [login, sht.range('M10').value, sht.range('N10').value]
    print(rebate_arr)
    data.append(rebate_arr)
    wb.close()
print(data)

df = pd.DataFrame(data, columns=['mt4Account', 'inner_new', 'outer_new'])
print(df.head())

wb = xw.books('B -PNL-vfx2-20210108.xlsx')
sht = wb.sheets['rebate']
a = sht.range('A:A').value

for i in range(len(df.index)):
    if df['mt4Account'][i] in a:
        index = a.index(df['mt4Account'][i])
        # df 取代舊值
        print(sht.range('A'+str(index+1)).value)
        sht.range('B'+str(index+1)).value = df['inner_new'][i] + df['outer_new'][i]
        # sht.range('C'+str(index+1)).value = df['outer_new'][i]
        Range('A'+str(index+1)+":"+'C'+str(index+1)).color = (255,255,0)
    else:
        print(str(df['mt4Account'][i]) + ' is not in list')

['AU3 91012- Rebate_20210108.xlsx']
AU3 91012- Rebate_20210108.xlsx
[91012, 0.0, 0.0]
[[91012, 0.0, 0.0]]
   mt4Account  inner_new  outer_new
0       91012        0.0        0.0
91012 is not in list

In [4]:
# 讀取RT_value表
vfxRaw = pd.read_excel(str(todaynum)+'_RTvalue.xlsx' , sheet_name= 'VFXRaw')
vfxRaw.head()

,db,Login,Group,group,CCY,Deal,Type,Profit,Comment,IO,db2,Login2,Group2,group2,Date,VIG,MNT
0,VAU1,10398,M_VFX_AUD,M,AUD,30872417,balance,-8.00,Transfer Out to 634256,out,VAU2,634256,M_VFX_AUD,M,2021-01-15,0,1
1,VAU1,23419,M_VIGT_USD,M,USD,30872686,balance,1.88,Transfer In from 679430,in,VAU2,679430,M_VIGT_P_USD,M,2021-01-15,1,1
2,VAU1,27216,M_VIG_S1727_AUD,M,AUD,30879943,balance,150.00,Transfer In from 629796,in,VAU1,629796,M_VIG_AUD,M,2021-01-15,1,1
3,VAU1,27216,M_VIG_S1727_AUD,M,AUD,30879950,balance,300.00,Transfer In from 629916,in,VAU1,629916,M_VIG_S1727_AUD,M,2021-01-15,1,1
4,VAU1,606956,M_VIG_USD,M,USD,30875145,balance,20.00,Transfer In from 614137,in,VAU1,614137,M_VIG_USD,M,2021-01-15,1,1

In [5]:
# 1.刪除GROUP含有CAN字串
# vfxRaw[vfxRaw['Group'].str.contains(r'CAN')]
# type(np.where(vfxRaw['Group'].str.contains(r'CAN'))[0])
can_rowsnumber = np.where(vfxRaw['Group'].str.contains(r'CAN'))[0]
# 2.刪除COMMENT含有/div
div_rowsnumber = np.where(vfxRaw['Comment'].str.contains(r'/div'))[0]
# 3.填補rollback group
vfxRaw['db2'].fillna(value=vfxRaw.groupby('Login')['db2'].unique(), inplace=True)
rollback = vfxRaw[vfxRaw['Comment'].str.contains(r'/Rollback')]
print(can_rowsnumber, div_rowsnumber)

[] []

In [6]:
# vfxRaw['db2'].fillna(value=20, inplace=False)
vfxRaw[vfxRaw['Comment'].str.contains(r'/Rollback')]

Empty DataFrame
Columns: [db, Login, Group, group, CCY, Deal, Type, Profit, Comment, IO, db2, Login2, Group2, group2, Date, VIG, MNT]
Index: []

In [232]:
len(div_rowsnumber)

0

In [229]:
# 修改RT_value表
wb = xw.books('20210111_RTvalue.xlsx')
# 使用工作表
vfx = wb.sheets['VFXRaw']

# GROUP 含有加拿大資料處理
if len(can_rowsnumber) > 0 :
    # create sheet 'CAN'
    wb.sheets.add('CAN')
    can = wb.sheets['CAN']
    # sht = wb.sheets['CAN']
    # 複製colnames至CAN SHEET
    my_values = vfx.range('A1:Q1').value 
    print(my_values)
    can.range('A1:Q1').value = my_values
    # 複製row至CAN SHEET
    for i in range(len(can_rowsnumber)):
        my_values = vfx.range('A'+str(can_rowsnumber[i]+2)+':Q'+str(can_rowsnumber[i]+2)).value 
        print(my_values)
        can.range('A'+str(i+2)+':Q'+str(i+2)).value = my_values
    # 刪除row
    for i in range(len(can_rowsnumber)):
        print(can_rowsnumber[i])
        vfx.range('A'+str(can_rowsnumber[i]+2-i)+':Q'+str(can_rowsnumber[i]+2-i)).api.Delete(DeleteShiftDirection.xlShiftUp) 

if len(div_rowsnumber) > 0:
    # 刪除row
    for i in range(len(div_rowsnumber)):
        print(div_rowsnumber[i])
        vfx.range('A'+str(div_rowsnumber[i]+2-i)+':Q'+str(div_rowsnumber[i]+2-i)).api.Delete(DeleteShiftDirection.xlShiftUp)

# Delete row 2
# sht.range('2:2').api.Delete(DeleteShiftDirection.xlShiftUp) 
wb.save()
# app.kill()

KeyError: '20210111_RTvalue.xlsx'

In [234]:
# 找誤差過大row 更改equity & equity_Y
check = pd.read_excel('b_vfx_check20210111.xlsx')
# 總誤差
total_error = sum(check['PL balance + Closed balance + Deposit = balance'])
check.head()

,db_eq,Login,Group_eq,當日 balance = 昨日 balance,closed pnl in raw = closed pnl in equity,PL balance + Closed balance + Deposit = balance,Check Floating,算法2的E PNL是否正確,Difference in two ways
0,VAU1,6002763,M_NS_PRO2_AUD,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00
1,VAU1,6002575,M_NS_PRO2_AUD,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00
2,VAU1,6002419,M_NS_PRO2_AUD,-3.641532e-14,0.0,0.0,5.329071e-15,0.0,-1.421085e-14
3,VAU1,6002340,M_NS_PRO2_AUD,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00
4,VAU1,6002147,M_NS_PRO2_AUD,0.000000e+00,0.0,0.0,0.000000e+00,0.0,-8.881784e-16

In [235]:
# Bbook 驗證兩種差距過大
wb = xw.books('B -PNL-vfx-20210111.xlsx')
sht = wb.sheets['PNL']
# 幣別與誤差
# bbook
bbook_error = [sht.range('A38:A46').value, sht.range('H38:H46').value]
bbook_error.append(np.repeat('M', len(bbook_error[0])))
bbook_error = list(map(list, zip(*bbook_error)))
# sbook
sbook_error = [sht.range('A51:A59').value, sht.range('H51:H59').value]
sbook_error.append(np.repeat('S', len(sbook_error[0])))
sbook_error = list(map(list, zip(*sbook_error)))
book_error = bbook_error + sbook_error

In [4]:
l = []
arr = check['PL balance + Closed balance + Deposit = balance'].values
while abs(total_error) > 2:
    if total_error < 0:
        k = np.array()
    if total_error > 0:

SyntaxError: unexpected EOF while parsing (<ipython-input-4-679b189a99f4>, line 7)

NameError: name 'arr' is not defined

In [6]:
a = np.array([90,10,30,40,80,70,20,50,60,0])
np.partition(a, -1)[-1]

90

In [102]:
book_error

[['AUD', -6.849999999933061, 'M'],
 ['EUR', -0.43399999802932143, 'M'],
 ['GBP', -0.6475000008940697, 'M'],
 ['JPY', 6.0, 'M'],
 ['SGD', 0.13229999999020947, 'M'],
 ['USD', 5.129999994067475, 'M'],
 ['CAD', 0.009999999999990905, 'M'],
 ['NZD', -3.694822225952521e-13, 'M'],
 ['HKD', -6.649999996647239, 'M'],
 ['AUD', 0.0, 'S'],
 ['EUR', -0.004000000000473847, 'S'],
 ['GBP', -0.020000000000436557, 'S'],
 ['JPY', 0.0, 'S'],
 ['SGD', 0.0, 'S'],
 ['USD', 4.360000000000127, 'S'],
 ['CAD', 0.0, 'S'],
 ['NZD', 0.0, 'S'],
 ['HKD', 0.0, 'S']]

In [93]:
# 從b book 誤差計算
for i in range(len(bbook_error)):

9